/* Borders */

#colophon {
  border-top: 1px solid #ccc;
}

.entry-content, #secondary .widget {
  border-bottom: 1px solid #ccc;
}

/* Margins */

.entry-content, .entry-footer {
  margin-bottom: 1.5em;
}

h1.entry-title {
  margin-top: 0;
}

#colophon {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.widget-area ul {
  margin-left: 0;
}

/* Text Size */

.widget-title {
  font-size: 1.5rem;
}

/* Breadcrumb Navigation */

#site-breadcrumbs ol {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
  background-color: inherit;
}
