/* News Carousel */

#news-carousel .carousel-caption {
  background-color:rgba(0, 0, 0, 0.55);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 35px !important;
  height: 35px !important;
}
