$utility-nav-link-color: grey;

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
}

.entry-footer-meta a {
  text-decoration: underline;
}

/* --------------------------------------------------- */
/* Borders */

#comments {
  border-top: 1px solid #ccc;
}

.entry-content {
  border-bottom: 1px solid #ccc;
}

/* Margins */

.entry-content, .entry-footer {
  margin-bottom: 1.5em;
}

#comments,
.entry-footer {
  padding-top: 1em;
}

.widget-area ul {
  margin-left: 0;
}

.widget_media_image {
  padding-bottom: 1.5em;
}

/* Text Size */

.widget-title {
  font-size: 1.5rem;
}

/* Links */
.entry-content p a,
.entry-content li a {
  text-decoration: underline;
}

/* Utility Navigation */
#utility-navigation {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
#utility-brand ul, #utility-menu ul {
  margin-left: 0;
}
.utility-brand-fs {
  font-size: 1.25em;
}
.username-link a.nav-link {
  color: $utility-nav-link-color;
}
.username-link a.nav-link:hover, .username-link a.nav-link:focus {
  color: lighten($utility-nav-link-color, 15%)
}


/* Paginated Navigation */

ul.pagination {
  margin-left: 0;
}

/* Caption */

.post-thumbnail-single, figure.wp-block-image {
 position: relative;
 padding: 0;
 }
.post-thumbnail-single figcaption, .wp-block-image figcaption {
 opacity: 0.9;
 position: absolute;
 width: 100%;
 color: #fff;
 left: 0;
 bottom: 0;
 padding: 0.75em 1em;
 margin-bottom: 0;
 font-weight: 700;
 -webkit-box-sizing: border-box;
 box-sizing: border-box;
 background-color: rgba(0,0,0,.7);
 }



 /* Fix for long words in titles */
.widget,
.hentry {
    word-wrap: break-word;
}

 /* Styling for quotes (blocks) */

.wp-block-quote {
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: 1px solid #ccc;

}
.wp-block-quote cite {
    display: block;
    font-size: 80%;
    color: #6c757d;
}
.wp-block-quote cite::before {
    content: "\2014 \00A0";
}

 /* Styling for menus in widgets */

.widget_nav_menu,
.better-section-nav {
  padding-bottom: 1.5em;
}

.widget_nav_menu ul,
.bsn-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: .25rem;
}

.widget_nav_menu li,
.bsn-list li {
  padding: .75rem 1.25rem;
  border: 1px solid rgba(0,0,0,.125);
}

.widget_nav_menu li li,
.bsn-list li li {
  border: 0;
}

.widget_nav_menu li:first-child,
.bsn-list li:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.widget_nav_menu li:last-child,
.bsn-list li:last-child {
  border-bottom-left-radius: .25rem;
  border-top-right-radius: .25em;
}

.widget_nav_menu .nav-link {
  padding: 0;
}

.menu-item+.menu-item,
.bsn-list .page_item+.page_item {
  border-top-width: 0;
}

.wp-block-table table {
    @extend .table;
}
.wp-block-table.hounslow-table-grid table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hounslow-table-grid table td,
.hounslow-table-grid table th {
  border-width: 1px;
}

 /* Styling for Swiftype search */
.st-default-search-input {
  background: none !important;
  background-color: #ffffff !important;
  min-height: 1.5rem  !important;
}
.st-ui-type-heading {
  font-size: 17px !important;
}
.st-ui-type-detail-bold {
  font-weight: bold !important;
}
